<pre>select simple </pre>

<div class="dndList">
  <div *ngFor="let item of draggable?.data; let i = index">
    <select
      [(ngModel)]="selectedOptions[i]"
      (ngModelChange)="onSelectChange(i)"
    >
      <option *ngIf="!hasMovedItem" [selected]="true" value="">-</option>
      <option
        *ngFor="
          let option of [].constructor(draggable?.data?.length);
          let j = index
        "
        [value]="j + 1"
      >
        {{ j + 1 }}
      </option>
    </select>
    <span class="list-item-content">{{ item.content }}</span>
  </div>
</div>
