<!-- Select simple -->
<pre>select simple </pre>

<div class="dndList">
  <div *ngFor="let item of draggable?.data">
    <select>
      <option [selected]="!hasMovedItem" value="">-</option>
      <option
        *ngFor="
          let option of [].constructor(draggable?.data?.length);
          let j = index
        "
        [value]="j + 1"
      >
        {{ j + 1 }}
      </option>
    </select>
    <span class="list-item-content">{{ item.content }}</span>
  </div>
</div>
<!-- Select simple end -->
